/*reset geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url('img/backgroun-cadastro-viagem.png');
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;

    flex-direction: column;
    align-items: center;
    display: flex;
}

header {
    width: 100%;
    height: 8vh;
    background-color: rgba(97, 175, 250, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


header .foto-perfil img {
    width: clamp(32px, 4vw, 40px); /*responsivo*/
    height: clamp(32px, 4vw, 40px);
    border-radius: 50%;
    object-fit: cover;
}

header img{
    width: 7.3vw;
    height: auto;
}

main {
    font-family: "Montserrat", sans-serif;
    margin-top: 16vh;
    width: 49vw;
    height: 70vh;
    background-color: #F4F4F4;
    border-radius: 30px;
    padding: 0; 
    overflow: hidden;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 0rem 4rem 4rem 4rem; 
    overflow-y: auto; 
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.place-container-header {
    margin-top: 6vh;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F4F4F4;
    margin-bottom: 3vh;
}

.place-container-header h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #FB923D;
}

.double-line {
  display: flex;
  justify-content: space-between;
}

.left {
    padding: 0.8vw;
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
}

.right {
    flex: 1;
    padding: 0.8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

h5{
    font-size: 1.2rem;
    font-weight: 600;
    color: #545454;
}

#name{
    margin-top: 1vh;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 0.6vw 0.6vw;
    border-radius: 10px;
    border: 1px solid #B1B1B1;
    background-color: #F0F0F0;
    color: #757779;
    font-weight: 400;
    margin-bottom: 1vh;
}

#name:focus{
    border: 2px solid #FB923D; 
    outline: none;
}

.field-date{
    margin-top: 2.8vh;
}

input[type="date"] {
    background-color: #F0F0F0; 
    color: #545454;            
    font-size: 1rem;           
    border: 1px solid #B1B1B1; 
    border-radius: 10px;        
    padding: 0.5vw 0.5vw; 
    outline: none;             
    box-sizing: border-box;    
    width: 100%;  
    cursor: pointer;        
    font-weight: 500;     
}

.field{
    margin-bottom: 2vh;
}

.custom-file-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #FB923D;
    color: white;
    padding: 0.6rem 1.2rem; 
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.custom-file-button:hover {
    background-color: #e67c1d;
}

.custom-file-button img {
    width: 0.8vw;
    height: auto;
}

input[type="file"] {
    display: none;
}

#description{
    margin-top: 0.3vh;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 14vh;
    padding: 0.8vw 1vw;
    border-radius: 10px;
    border: 1px solid #B1B1B1;
    background-color: #F0F0F0;
    font-size: 0.9rem;
    margin-bottom: 2vh;
}

#description:focus{
    border: 2px solid #FB923D; 
    outline: none;
}

.add-a-new-place #add {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #FB923D;
    color: white;
    padding: 0.6rem 1.2rem; 
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s;
    border: none;
}

.add-a-new-place #add:hover {
    background-color: #e37424;   
}

.add-a-new-place #add img {
    width: 0.8vw;                
    height: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 1vw; 
  margin-top: auto;
  padding: 7vh 0;
}

.footer .button {
  padding: 0.7rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
}

#done {
  background-color: #E47F31;
  color: white;
}

#done:hover {
  background-color: #c9712d;
}

#cancel {
  background-color: #A0A0A0;
  color: white;
}

#cancel:hover {
  background-color: #cccccc;
}
